@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700;900&family=MuseoModerno:wght@900&family=Revalia&display=swap');
section {
  padding-top: 100px;
  margin-bottom: 50px;
}
.container h2{
  text-align: center;
  color:  rgb(34, 156, 194);
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
label {
  color:  rgb(34, 156, 194);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

}